@import variables
  
*
  margin: 0
  font-family: Georgia, 'Times New Roman', Times, serif
  outline: none

.container
    .header
      color: $white
      background-color: $orange
      .wrap
        text-align: center
    .bar
        .wrap
          .search
            outline: none
            padding: 10px
            background-color: white
            border: 1px solid $orange
            border-radius: 5px
            box-shadow: 1px 1px 1px
          .add
            outline: none
            background-color: white
            border: 1px solid $orange
            border-radius: 5px
            box-shadow: 1px 1px 1px
    .record
      border: 1px solid $orange
      border-radius: 5px
      .left
        .executor
          display: inline-block
        .buttons-wrap
          .edit, .text, .delete
            display: inline-block
          .edit
            background: url(./../static/edit.png) center no-repeat
            background-size: 100%
          .text
            background: url(./../static/text.png) center no-repeat
            background-size: 100%
          .delete
            background: url(./../static/delete.png) center no-repeat
            background-size: 100%
        .wrap
          .whatsapp
            display: inline-block
            background: url(./../static/wa-logo.png) center no-repeat
            background-size: 100%
            height: 16px
            width: 16px
      .right
        text-align: right
        .p
          display: inline-block
        .wrap
          display: flex
          justify-content: flex-end
          align-items: flex-end
          .star-icon
            display: inline-block
            background: url(./../static/star-icon.png) center no-repeat
            background-size: 100%
            height: 16px
            width: 16px 
.overlay 
  position: fixed
  display: none
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 4
  background-color: rgba(0, 0, 0, 0.5)
  &-desc
    display: none
    position: fixed
    left: 50%
    -webkit-transform: translateX(-50%)
    transform: translateX(-50%)
    background-color: $white
    border: 1px solid $orange
    border-radius: 5px
    &-close
      position: fixed
      font-weight: 300
      color: $white
      z-index: 5
    &-title
      text-align: center
      background-color: $orange
      &-text
        color: $white
    &-form
      .wrap
        .elements
          textarea
            border: 1px solid $orange
            border-radius: 5px
          input
            border: 1px solid $orange
            border-radius: 5px
            text-align: center
          .submit
            outline: none
            background-color: white
            border: 1px solid $orange
            border-radius: 5px
            box-shadow: 1px 1px 1px
  &-delete
    display: none
    position: fixed
    left: 50%
    -webkit-transform: translateX(-50%)
    transform: translateX(-50%)
    background-color: $white
    border: 1px solid $orange
    border-radius: 5px
    &-close
      position: fixed
      font-weight: 300
      color: $white
      z-index: 5
    &-title
      text-align: center
      background-color: $orange
      &-text
        color: $white
    &-form
      .wrap
        .elements
          .submit
            outline: none
            background-color: white
            border: 1px solid $orange
            border-radius: 5px
            box-shadow: 1px 1px 1px
          input
            border: 1px solid $orange
            border-radius: 5px
            text-align: center
  &-add
    display: none
    position: fixed
    left: 50%
    -webkit-transform: translateX(-50%)
    transform: translateX(-50%)
    background-color: $white
    border: 1px solid $orange
    border-radius: 5px
    &-close
      position: fixed
      font-weight: 300
      color: $white
      z-index: 5
    &-title
      text-align: center
      background-color: $orange
      &-text
        color: $white
    &-form
      .wrap
        .elements
          .prices-add
            display: none
            position: fixed
            left: 50%
            -webkit-transform: translateX(-50%)
            transform: translateX(-50%)
            background-color: $white
            border: 1px solid $orange
            border-radius: 5px
            .title
              background-color: $orange
              text-align: center
              .text
                color: $white
            .left
              display: inline-block
            .right
              display: inline-block
            .save-add
              outline: none
              background-color: white
              border: 1px solid $orange
              border-radius: 5px
              box-shadow: 1px 1px 1px
          .executor, .phone, .password, .district, .holidays
            border: 1px solid $orange
            border-radius: 5px
            text-align: center
          .left
            display: inline-block
          .right
            display: inline-block
          .time
              .start, .end
                background-color: $white
                border: 1px solid $orange
                border-radius: 5px
          .buttons
            .price-add, .submit
              outline: none
              background-color: white
              border: 1px solid $orange
              border-radius: 5px
              box-shadow: 1px 1px 1px
  &-search
    display: none
    position: fixed
    left: 50%
    -webkit-transform: translateX(-50%)
    transform: translateX(-50%)
    background-color: $white
    border: 1px solid $orange
    border-radius: 5px
    &-close
      position: fixed
      font-weight: 300
      color: $white
      z-index: 5
    &-title
      text-align: center
      background-color: $orange
      &-text
        color: $white
    &-form
      .wrap
        .elements
          .district
            border: 1px solid $orange
            border-radius: 5px
            text-align: center
          .submit
            outline: none
            background-color: white
            border: 1px solid $orange
            border-radius: 5px
            box-shadow: 1px 1px 1px
  &-change
    display: none
    position: fixed
    left: 50%
    -webkit-transform: translateX(-50%)
    transform: translateX(-50%)
    background-color: $white
    border: 1px solid $orange
    border-radius: 5px
    &-close
      position: fixed
      font-weight: 300
      color: $white
      z-index: 5
    &-title
      text-align: center
      background-color: $orange
      &-text
        color: $white
    &-form
      .wrap
        .elements
          .prices-change
            display: none
            position: fixed
            left: 50%
            -webkit-transform: translateX(-50%)
            transform: translateX(-50%)
            background-color: $white
            border: 1px solid $orange
            border-radius: 5px
            .title
              background-color: $orange
              text-align: center
              .text
                color: $white
            .left
              display: inline-block
            .right
              display: inline-block
            .save-change
              outline: none
              background-color: white
              border: 1px solid $orange
              border-radius: 5px
              box-shadow: 1px 1px 1px
          .executor, .phone, .password, .district, .holidays
            border: 1px solid $orange
            border-radius: 5px
            text-align: center
          .left
            display: inline-block
          .right
            display: inline-block
          .time
              .start, .end
                background-color: $white
                border: 1px solid $orange
                border-radius: 5px
          .buttons
            .price-change, .submit
              outline: none
              background-color: white
              border: 1px solid $orange
              border-radius: 5px
              box-shadow: 1px 1px 1px

@media (min-width: 769px)    
  .container
    width: 720px
    .header
      padding-top: 20px
      padding-bottom: 20px
      margin-bottom: 50px
      .wrap
        .heading
          font-size: 30px
    .bar
      margin-bottom: 50px
      .wrap
        .greeting
          font-size: 23px
          margin-top: 12px
        .search
          margin-left: 40px
          font-size: 23px
          padding: 10px
          transition: 0.2s
          &:hover
            cursor: pointer
            background-color: $orange
            color: $white
        .add
          margin-left: 65px
          font-size: 23px
          padding: 10px
          transition: 0.2s
          &:hover
            cursor: pointer
            background-color: $orange
            color: $white
    .record
      padding: 10px 0
      margin-bottom: 10px
      .left
        p
          font-size: 20px
        .buttons-wrap
          display: inline-block
          .edit, .text, .delete
            height: 16px
            width: 16px
          .edit
            &:hover
              cursor: pointer
          .text
            &:hover
              cursor: pointer
          .delete
            &:hover
              cursor: pointer
        .wrap
          margin-top: 10px
      .right
        p
          margin-bottom: 10px
          margin-left: 30px
          font-size: 20px
        .wrap
          p
            margin-bottom: 0
  .overlay
    &-desc
      top: 50px
      width: 480px
      &-close
        top: -32px
        right: -20px
        font-size: 35px
        &:hover
          cursor: pointer
      &-title
        margin-bottom: 15px
        &-text
          font-size: 25px
      &-form
        .wrap
          .elements
            textarea
              font-size: 16px
              margin-left: 40px
              margin-bottom: 10px
              width: 400px
              height: 200px
            input
              width: 305px
              font-size: 16px
              margin-left: 87px
              margin-bottom: 10px
            .submit
              margin-left: 173px
              margin-bottom: 10px
              font-size: 23px
              padding: 10px
              transition: 0.2s
              &:hover
                cursor: pointer
                background-color: $orange
                color: $white
    &-delete
      top: 50px
      width: 480px
      &-close
        top: -32px
        right: -20px
        font-size: 35px
        &:hover
          cursor: pointer
      &-title
        margin-bottom: 15px
        &-text
          font-size: 25px
      &-form
        .wrap
          .elements
            input
              width: 305px
              font-size: 16px
              margin-left: 87px
              margin-bottom: 10px
            .submit
              margin-left: 185px
              margin-bottom: 10px
              font-size: 23px
              padding: 10px
              transition: 0.2s
              &:hover
                cursor: pointer
                background-color: $orange
                color: $white
    &-add
      top: 50px
      width: 480px
      &-close
        top: -32px
        right: -20px
        font-size: 35px
        &:hover
          cursor: pointer
      &-title
        margin-bottom: 15px
        &-text
          font-size: 25px
      &-form
        .wrap
          .elements
            .prices-add
              width: 480px
              .title
                margin-bottom: 15px
                .text
                  font-size: 25px
              .left
                margin-left: 10px
                width: 300px
                input
                  margin-bottom: 15px
                label
                  font-size: 16px
                p
                  font-size: 16px
              .right
                margin-left: 80px
                input
                  margin-bottom: 5px
                  width: 50px
                  font-size: 16px
                p
                  font-size: 16px
              .save-add
                font-size: 23px
                padding: 10px
                margin-left: 170px
                margin-bottom: 10px
                transition: 0.2s
                &:hover
                  cursor: pointer
                  background-color: $orange
                  color: $white
            input
              margin-bottom: 10px
            .executor
              width: 95px
              margin-right: 7px
              font-size: 16px
            .last
              margin-right: 0
            .phone, .password
              width: 305px
              font-size: 16px
            .district, .holidays
              width: 150px
              font-size: 16px
            .time
              margin-bottom: 20px
              .start, .end
                width: 130px
            .buttons
              margin-bottom: 15px
              .price-add
                font-size: 23px
                padding: 10px
                transition: 0.2s
                &:hover
                  cursor: pointer
                  background-color: $orange
                  color: $white
              .submit
                margin-left: 95px
                font-size: 23px
                padding: 10px
                transition: 0.2s
                &:hover
                  cursor: pointer
                  background-color: $orange
                  color: $white
    &-search
      top: 50px
      width: 480px
      &-close
        top: -32px
        right: -20px
        font-size: 35px
        &:hover
          cursor: pointer
      &-title
        margin-bottom: 15px
        &-text
          font-size: 25px
      &-form
        .wrap
          .elements
            p
              font-size: 16px
            .district
              font-size: 16px
              width: 224px
              margin-bottom: 10px
            .submit
              font-size: 23px
              padding: 10px
              margin-bottom: 15px
              margin-left: 65px
              transition: 0.2s
              &:hover
                cursor: pointer
                background-color: $orange
                color: $white
            .action
              margin-bottom: 5px
              margin-left: 5px
              label
                font-size: 16px
    &-change
      top: 50px
      width: 480px
      &-close
        top: -32px
        right: -20px
        font-size: 35px
        &:hover
          cursor: pointer
      &-title
        margin-bottom: 15px
        &-text
          font-size: 25px
      &-form
        .wrap
          .elements
            .prices-change
              width: 480px
              .title
                margin-bottom: 15px
                .text
                  font-size: 25px
              .left
                margin-left: 10px
                width: 300px
                input
                  margin-bottom: 15px
                label
                  font-size: 16px
                p
                  font-size: 16px
              .right
                margin-left: 80px
                input
                  margin-bottom: 5px
                  width: 50px
                  font-size: 16px
                p
                  font-size: 16px
              .save-change
                font-size: 23px
                padding: 10px
                margin-left: 170px
                margin-bottom: 10px
                transition: 0.2s
                &:hover
                  cursor: pointer
                  background-color: $orange
                  color: $white
            input
              margin-bottom: 10px
            .executor
              width: 95px
              margin-right: 7px
              font-size: 16px
            .last
              margin-right: 0
            .phone, .password
              width: 305px
              font-size: 16px
            .district, .holidays
              width: 150px
              font-size: 16px
            .time
              margin-bottom: 20px
              .start, .end
                width: 130px
            .buttons
              margin-bottom: 15px
              .price-change
                font-size: 23px
                padding: 10px
                transition: 0.2s
                &:hover
                  cursor: pointer
                  background-color: $orange
                  color: $white
              .submit
                margin-left: 84px
                font-size: 23px
                padding: 10px
                transition: 0.2s
                &:hover
                  cursor: pointer
                  background-color: $orange
                  color: $white  

@media (max-width: 768px)
  .container
    width: 320px
    .header
      padding-top: 10px
      padding-bottom: 10px
      margin-bottom: 30px
      .wrap
        .heading
          text-align: center
          font-size: 25px
    .bar
      margin-bottom: 30px
      .wrap
        .greeting
          font-size: 16px
          margin-top: 7px
        .search
          margin-top: 10px
          margin-left: 0
          font-size: 16px
          padding: 5px
        .add
          margin-left: 0
          font-size: 16px
          padding: 5px
    .record
      padding: 6px 0
      margin-bottom: 6px
      .left
        .buttons-wrap
          display: block
          .edit, .text, .delete
            height: 10px
            width: 10px
        p
          font-size: 14px
        .wrap
          margin-top: 5px
      .right
        p
          margin-bottom: 3px
          font-size: 14px
        .wrap
          p
            margin-bottom: 0
  .overlay
    &-desc
      top: 25px
      width: 240px
      &-close
        top: -32px
        right: -20px
        font-size: 35px
      &-title
        margin-bottom: 10px
        &-text
          font-size: 20px
      &-form
        .wrap
          .elements
            textarea
              font-size: 14px
              margin-left: 40px
              margin-bottom: 10px
              width: 160px
              height: 210px
            input
              width: 150px
              font-size: 14px
              margin-left: 45px
              margin-bottom: 10px
            .submit
              margin-left: 58px
              margin-bottom: 10px
              font-size: 23px
              padding: 5px
    &-delete
      top: 25px
      width: 240px
      &-close
        top: -32px
        right: -20px
        font-size: 35px
      &-title
        margin-bottom: 10px
        &-text
          font-size: 20px
      &-form
        .wrap
          .elements
            input
              width: 150px
              font-size: 14px
              margin-left: 45px
              margin-bottom: 10px
            .submit
              margin-left: 68px
              margin-bottom: 10px
              font-size: 23px
              padding: 5px  
    &-add
      top: 20px
      width: 240px
      &-close
        top: -32px
        right: -20px
        font-size: 35px
      &-title
        margin-bottom: 10px
        &-text
          font-size: 20px
      &-form
        .wrap
          .elements
            .prices-add
              width: 240px
              .title
                margin-bottom: 10px
                .text
                  font-size: 20px
              .left
                input
                  margin-bottom: 14px
                p
                  font-size: 14px
                label
                  font-size: 14px
              .right
                margin-left: 8px
                input
                  margin-bottom: 5px
                  width: 42px
                  font-size: 14px
                p
                  font-size: 14px
              .save-add
                font-size: 16px
                padding: 5px
                margin-left: 73px
                margin-bottom: 10px
            input
              margin-bottom: 8px
            select
              margin-bottom: 8px
            .executor
              width: 44px
              margin-right: 3px
              font-size: 14px
            .last
              margin-right: 0
            .phone, .password, .district, .holidays
              width: 150px
              font-size: 14px
            .left
              margin-bottom: 5px
            .time
              margin-bottom: 5px
              .start, .end
                width: 150px
            .buttons
              margin-bottom: 3px
              .price-add
                display: inline-block
                font-size: 16px
                padding: 5px
              .submit
                display: inline-block
                margin-left: 7px
                font-size: 16px
                padding: 5px
    &-search
      top: 20px
      width: 240px
      &-close
        top: -32px
        right: -20px
        font-size: 35px
        &:hover
          cursor: pointer
      &-title
        margin-bottom: 15px
        &-text
          font-size: 20px
      &-form
        .wrap
          .elements
            p
              font-size: 14px
            .district
              font-size: 14px
              width: 193px
              margin-bottom: 10px
            .submit
              font-size: 16px
              padding: 5px
              margin-bottom: 10px
              margin-left: 64px
            .action
              margin-bottom: 5px
              margin-left: 5px
              label
                font-size: 14px
    &-change
      top: 20px
      width: 240px
      &-close
        top: -32px
        right: -20px
        font-size: 35px
      &-title
        margin-bottom: 10px
        &-text
          font-size: 20px
      &-form
        .wrap
          .elements
            .prices-change
              width: 240px
              .title
                margin-bottom: 10px
                .text
                  font-size: 20px
              .left
                input
                  margin-bottom: 14px
                p
                  font-size: 14px
                label
                  font-size: 14px
              .right
                margin-left: 8px
                input
                  margin-bottom: 5px
                  width: 42px
                  font-size: 14px
                p
                  font-size: 14px
              .save-change
                font-size: 16px
                padding: 5px
                margin-left: 73px
                margin-bottom: 10px
            input
              margin-bottom: 8px
            select
              margin-bottom: 8px
            .executor
              width: 44px
              margin-right: 3px
              font-size: 14px
            .last
              margin-right: 0
            .phone, .password, .district, .holidays
              width: 150px
              font-size: 14px
            .left
              margin-bottom: 5px
            .time
              margin-bottom: 5px
              .start, .end
                width: 150px
            .buttons
              margin-bottom: 3px
              .price-change
                display: inline-block
                font-size: 15px
                padding: 5px
              .submit
                display: inline-block
                margin-left: 6px
                font-size: 15px
                padding: 5px                
