* {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  outline: none;
}

.container .header {
  color: #FFFFFF;
  background-color: #FF4500;
}

.container .header .wrap {
  text-align: center;
}

.container .bar .wrap .search {
  outline: none;
  padding: 10px;
  background-color: white;
  border: 1px solid #FF4500;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 1px;
          box-shadow: 1px 1px 1px;
}

.container .bar .wrap .add {
  outline: none;
  background-color: white;
  border: 1px solid #FF4500;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 1px;
          box-shadow: 1px 1px 1px;
}

.container .record {
  border: 1px solid #FF4500;
  border-radius: 5px;
}

.container .record .left .executor {
  display: inline-block;
}

.container .record .left .buttons-wrap .edit, .container .record .left .buttons-wrap .text, .container .record .left .buttons-wrap .delete {
  display: inline-block;
}

.container .record .left .buttons-wrap .edit {
  background: url(./../static/edit.png) center no-repeat;
  background-size: 100%;
}

.container .record .left .buttons-wrap .text {
  background: url(./../static/text.png) center no-repeat;
  background-size: 100%;
}

.container .record .left .buttons-wrap .delete {
  background: url(./../static/delete.png) center no-repeat;
  background-size: 100%;
}

.container .record .left .wrap .whatsapp {
  display: inline-block;
  background: url(./../static/wa-logo.png) center no-repeat;
  background-size: 100%;
  height: 16px;
  width: 16px;
}

.container .record .right {
  text-align: right;
}

.container .record .right .p {
  display: inline-block;
}

.container .record .right .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.container .record .right .wrap .star-icon {
  display: inline-block;
  background: url(./../static/star-icon.png) center no-repeat;
  background-size: 100%;
  height: 16px;
  width: 16px;
}

.overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay-desc {
  display: none;
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #FFFFFF;
  border: 1px solid #FF4500;
  border-radius: 5px;
}

.overlay-desc-close {
  position: fixed;
  font-weight: 300;
  color: #FFFFFF;
  z-index: 5;
}

.overlay-desc-title {
  text-align: center;
  background-color: #FF4500;
}

.overlay-desc-title-text {
  color: #FFFFFF;
}

.overlay-desc-form .wrap .elements textarea {
  border: 1px solid #FF4500;
  border-radius: 5px;
}

.overlay-desc-form .wrap .elements input {
  border: 1px solid #FF4500;
  border-radius: 5px;
  text-align: center;
}

.overlay-desc-form .wrap .elements .submit {
  outline: none;
  background-color: white;
  border: 1px solid #FF4500;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 1px;
          box-shadow: 1px 1px 1px;
}

.overlay-delete {
  display: none;
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #FFFFFF;
  border: 1px solid #FF4500;
  border-radius: 5px;
}

.overlay-delete-close {
  position: fixed;
  font-weight: 300;
  color: #FFFFFF;
  z-index: 5;
}

.overlay-delete-title {
  text-align: center;
  background-color: #FF4500;
}

.overlay-delete-title-text {
  color: #FFFFFF;
}

.overlay-delete-form .wrap .elements .submit {
  outline: none;
  background-color: white;
  border: 1px solid #FF4500;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 1px;
          box-shadow: 1px 1px 1px;
}

.overlay-delete-form .wrap .elements input {
  border: 1px solid #FF4500;
  border-radius: 5px;
  text-align: center;
}

.overlay-add {
  display: none;
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #FFFFFF;
  border: 1px solid #FF4500;
  border-radius: 5px;
}

.overlay-add-close {
  position: fixed;
  font-weight: 300;
  color: #FFFFFF;
  z-index: 5;
}

.overlay-add-title {
  text-align: center;
  background-color: #FF4500;
}

.overlay-add-title-text {
  color: #FFFFFF;
}

.overlay-add-form .wrap .elements .prices-add {
  display: none;
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #FFFFFF;
  border: 1px solid #FF4500;
  border-radius: 5px;
}

.overlay-add-form .wrap .elements .prices-add .title {
  background-color: #FF4500;
  text-align: center;
}

.overlay-add-form .wrap .elements .prices-add .title .text {
  color: #FFFFFF;
}

.overlay-add-form .wrap .elements .prices-add .left {
  display: inline-block;
}

.overlay-add-form .wrap .elements .prices-add .right {
  display: inline-block;
}

.overlay-add-form .wrap .elements .prices-add .save-add {
  outline: none;
  background-color: white;
  border: 1px solid #FF4500;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 1px;
          box-shadow: 1px 1px 1px;
}

.overlay-add-form .wrap .elements .executor, .overlay-add-form .wrap .elements .phone, .overlay-add-form .wrap .elements .password, .overlay-add-form .wrap .elements .district, .overlay-add-form .wrap .elements .holidays {
  border: 1px solid #FF4500;
  border-radius: 5px;
  text-align: center;
}

.overlay-add-form .wrap .elements .left {
  display: inline-block;
}

.overlay-add-form .wrap .elements .right {
  display: inline-block;
}

.overlay-add-form .wrap .elements .time .start, .overlay-add-form .wrap .elements .time .end {
  background-color: #FFFFFF;
  border: 1px solid #FF4500;
  border-radius: 5px;
}

.overlay-add-form .wrap .elements .buttons .price-add, .overlay-add-form .wrap .elements .buttons .submit {
  outline: none;
  background-color: white;
  border: 1px solid #FF4500;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 1px;
          box-shadow: 1px 1px 1px;
}

.overlay-search {
  display: none;
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #FFFFFF;
  border: 1px solid #FF4500;
  border-radius: 5px;
}

.overlay-search-close {
  position: fixed;
  font-weight: 300;
  color: #FFFFFF;
  z-index: 5;
}

.overlay-search-title {
  text-align: center;
  background-color: #FF4500;
}

.overlay-search-title-text {
  color: #FFFFFF;
}

.overlay-search-form .wrap .elements .district {
  border: 1px solid #FF4500;
  border-radius: 5px;
  text-align: center;
}

.overlay-search-form .wrap .elements .submit {
  outline: none;
  background-color: white;
  border: 1px solid #FF4500;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 1px;
          box-shadow: 1px 1px 1px;
}

.overlay-change {
  display: none;
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #FFFFFF;
  border: 1px solid #FF4500;
  border-radius: 5px;
}

.overlay-change-close {
  position: fixed;
  font-weight: 300;
  color: #FFFFFF;
  z-index: 5;
}

.overlay-change-title {
  text-align: center;
  background-color: #FF4500;
}

.overlay-change-title-text {
  color: #FFFFFF;
}

.overlay-change-form .wrap .elements .prices-change {
  display: none;
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #FFFFFF;
  border: 1px solid #FF4500;
  border-radius: 5px;
}

.overlay-change-form .wrap .elements .prices-change .title {
  background-color: #FF4500;
  text-align: center;
}

.overlay-change-form .wrap .elements .prices-change .title .text {
  color: #FFFFFF;
}

.overlay-change-form .wrap .elements .prices-change .left {
  display: inline-block;
}

.overlay-change-form .wrap .elements .prices-change .right {
  display: inline-block;
}

.overlay-change-form .wrap .elements .prices-change .save-change {
  outline: none;
  background-color: white;
  border: 1px solid #FF4500;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 1px;
          box-shadow: 1px 1px 1px;
}

.overlay-change-form .wrap .elements .executor, .overlay-change-form .wrap .elements .phone, .overlay-change-form .wrap .elements .password, .overlay-change-form .wrap .elements .district, .overlay-change-form .wrap .elements .holidays {
  border: 1px solid #FF4500;
  border-radius: 5px;
  text-align: center;
}

.overlay-change-form .wrap .elements .left {
  display: inline-block;
}

.overlay-change-form .wrap .elements .right {
  display: inline-block;
}

.overlay-change-form .wrap .elements .time .start, .overlay-change-form .wrap .elements .time .end {
  background-color: #FFFFFF;
  border: 1px solid #FF4500;
  border-radius: 5px;
}

.overlay-change-form .wrap .elements .buttons .price-change, .overlay-change-form .wrap .elements .buttons .submit {
  outline: none;
  background-color: white;
  border: 1px solid #FF4500;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 1px;
          box-shadow: 1px 1px 1px;
}

@media (min-width: 769px) {
  .container {
    width: 720px;
  }
  .container .header {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
  }
  .container .header .wrap .heading {
    font-size: 30px;
  }
  .container .bar {
    margin-bottom: 50px;
  }
  .container .bar .wrap .greeting {
    font-size: 23px;
    margin-top: 12px;
  }
  .container .bar .wrap .search {
    margin-left: 40px;
    font-size: 23px;
    padding: 10px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .container .bar .wrap .search:hover {
    cursor: pointer;
    background-color: #FF4500;
    color: #FFFFFF;
  }
  .container .bar .wrap .add {
    margin-left: 65px;
    font-size: 23px;
    padding: 10px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .container .bar .wrap .add:hover {
    cursor: pointer;
    background-color: #FF4500;
    color: #FFFFFF;
  }
  .container .record {
    padding: 10px 0;
    margin-bottom: 10px;
  }
  .container .record .left p {
    font-size: 20px;
  }
  .container .record .left .buttons-wrap {
    display: inline-block;
  }
  .container .record .left .buttons-wrap .edit, .container .record .left .buttons-wrap .text, .container .record .left .buttons-wrap .delete {
    height: 16px;
    width: 16px;
  }
  .container .record .left .buttons-wrap .edit:hover {
    cursor: pointer;
  }
  .container .record .left .buttons-wrap .text:hover {
    cursor: pointer;
  }
  .container .record .left .buttons-wrap .delete:hover {
    cursor: pointer;
  }
  .container .record .left .wrap {
    margin-top: 10px;
  }
  .container .record .right p {
    margin-bottom: 10px;
    margin-left: 30px;
    font-size: 20px;
  }
  .container .record .right .wrap p {
    margin-bottom: 0;
  }
  .overlay-desc {
    top: 50px;
    width: 480px;
  }
  .overlay-desc-close {
    top: -32px;
    right: -20px;
    font-size: 35px;
  }
  .overlay-desc-close:hover {
    cursor: pointer;
  }
  .overlay-desc-title {
    margin-bottom: 15px;
  }
  .overlay-desc-title-text {
    font-size: 25px;
  }
  .overlay-desc-form .wrap .elements textarea {
    font-size: 16px;
    margin-left: 40px;
    margin-bottom: 10px;
    width: 400px;
    height: 200px;
  }
  .overlay-desc-form .wrap .elements input {
    width: 305px;
    font-size: 16px;
    margin-left: 87px;
    margin-bottom: 10px;
  }
  .overlay-desc-form .wrap .elements .submit {
    margin-left: 173px;
    margin-bottom: 10px;
    font-size: 23px;
    padding: 10px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .overlay-desc-form .wrap .elements .submit:hover {
    cursor: pointer;
    background-color: #FF4500;
    color: #FFFFFF;
  }
  .overlay-delete {
    top: 50px;
    width: 480px;
  }
  .overlay-delete-close {
    top: -32px;
    right: -20px;
    font-size: 35px;
  }
  .overlay-delete-close:hover {
    cursor: pointer;
  }
  .overlay-delete-title {
    margin-bottom: 15px;
  }
  .overlay-delete-title-text {
    font-size: 25px;
  }
  .overlay-delete-form .wrap .elements input {
    width: 305px;
    font-size: 16px;
    margin-left: 87px;
    margin-bottom: 10px;
  }
  .overlay-delete-form .wrap .elements .submit {
    margin-left: 185px;
    margin-bottom: 10px;
    font-size: 23px;
    padding: 10px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .overlay-delete-form .wrap .elements .submit:hover {
    cursor: pointer;
    background-color: #FF4500;
    color: #FFFFFF;
  }
  .overlay-add {
    top: 50px;
    width: 480px;
  }
  .overlay-add-close {
    top: -32px;
    right: -20px;
    font-size: 35px;
  }
  .overlay-add-close:hover {
    cursor: pointer;
  }
  .overlay-add-title {
    margin-bottom: 15px;
  }
  .overlay-add-title-text {
    font-size: 25px;
  }
  .overlay-add-form .wrap .elements .prices-add {
    width: 480px;
  }
  .overlay-add-form .wrap .elements .prices-add .title {
    margin-bottom: 15px;
  }
  .overlay-add-form .wrap .elements .prices-add .title .text {
    font-size: 25px;
  }
  .overlay-add-form .wrap .elements .prices-add .left {
    margin-left: 10px;
    width: 300px;
  }
  .overlay-add-form .wrap .elements .prices-add .left input {
    margin-bottom: 15px;
  }
  .overlay-add-form .wrap .elements .prices-add .left label {
    font-size: 16px;
  }
  .overlay-add-form .wrap .elements .prices-add .left p {
    font-size: 16px;
  }
  .overlay-add-form .wrap .elements .prices-add .right {
    margin-left: 80px;
  }
  .overlay-add-form .wrap .elements .prices-add .right input {
    margin-bottom: 5px;
    width: 50px;
    font-size: 16px;
  }
  .overlay-add-form .wrap .elements .prices-add .right p {
    font-size: 16px;
  }
  .overlay-add-form .wrap .elements .prices-add .save-add {
    font-size: 23px;
    padding: 10px;
    margin-left: 170px;
    margin-bottom: 10px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .overlay-add-form .wrap .elements .prices-add .save-add:hover {
    cursor: pointer;
    background-color: #FF4500;
    color: #FFFFFF;
  }
  .overlay-add-form .wrap .elements input {
    margin-bottom: 10px;
  }
  .overlay-add-form .wrap .elements .executor {
    width: 95px;
    margin-right: 7px;
    font-size: 16px;
  }
  .overlay-add-form .wrap .elements .last {
    margin-right: 0;
  }
  .overlay-add-form .wrap .elements .phone, .overlay-add-form .wrap .elements .password {
    width: 305px;
    font-size: 16px;
  }
  .overlay-add-form .wrap .elements .district, .overlay-add-form .wrap .elements .holidays {
    width: 150px;
    font-size: 16px;
  }
  .overlay-add-form .wrap .elements .time {
    margin-bottom: 20px;
  }
  .overlay-add-form .wrap .elements .time .start, .overlay-add-form .wrap .elements .time .end {
    width: 130px;
  }
  .overlay-add-form .wrap .elements .buttons {
    margin-bottom: 15px;
  }
  .overlay-add-form .wrap .elements .buttons .price-add {
    font-size: 23px;
    padding: 10px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .overlay-add-form .wrap .elements .buttons .price-add:hover {
    cursor: pointer;
    background-color: #FF4500;
    color: #FFFFFF;
  }
  .overlay-add-form .wrap .elements .buttons .submit {
    margin-left: 95px;
    font-size: 23px;
    padding: 10px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .overlay-add-form .wrap .elements .buttons .submit:hover {
    cursor: pointer;
    background-color: #FF4500;
    color: #FFFFFF;
  }
  .overlay-search {
    top: 50px;
    width: 480px;
  }
  .overlay-search-close {
    top: -32px;
    right: -20px;
    font-size: 35px;
  }
  .overlay-search-close:hover {
    cursor: pointer;
  }
  .overlay-search-title {
    margin-bottom: 15px;
  }
  .overlay-search-title-text {
    font-size: 25px;
  }
  .overlay-search-form .wrap .elements p {
    font-size: 16px;
  }
  .overlay-search-form .wrap .elements .district {
    font-size: 16px;
    width: 224px;
    margin-bottom: 10px;
  }
  .overlay-search-form .wrap .elements .submit {
    font-size: 23px;
    padding: 10px;
    margin-bottom: 15px;
    margin-left: 65px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .overlay-search-form .wrap .elements .submit:hover {
    cursor: pointer;
    background-color: #FF4500;
    color: #FFFFFF;
  }
  .overlay-search-form .wrap .elements .action {
    margin-bottom: 5px;
    margin-left: 5px;
  }
  .overlay-search-form .wrap .elements .action label {
    font-size: 16px;
  }
  .overlay-change {
    top: 50px;
    width: 480px;
  }
  .overlay-change-close {
    top: -32px;
    right: -20px;
    font-size: 35px;
  }
  .overlay-change-close:hover {
    cursor: pointer;
  }
  .overlay-change-title {
    margin-bottom: 15px;
  }
  .overlay-change-title-text {
    font-size: 25px;
  }
  .overlay-change-form .wrap .elements .prices-change {
    width: 480px;
  }
  .overlay-change-form .wrap .elements .prices-change .title {
    margin-bottom: 15px;
  }
  .overlay-change-form .wrap .elements .prices-change .title .text {
    font-size: 25px;
  }
  .overlay-change-form .wrap .elements .prices-change .left {
    margin-left: 10px;
    width: 300px;
  }
  .overlay-change-form .wrap .elements .prices-change .left input {
    margin-bottom: 15px;
  }
  .overlay-change-form .wrap .elements .prices-change .left label {
    font-size: 16px;
  }
  .overlay-change-form .wrap .elements .prices-change .left p {
    font-size: 16px;
  }
  .overlay-change-form .wrap .elements .prices-change .right {
    margin-left: 80px;
  }
  .overlay-change-form .wrap .elements .prices-change .right input {
    margin-bottom: 5px;
    width: 50px;
    font-size: 16px;
  }
  .overlay-change-form .wrap .elements .prices-change .right p {
    font-size: 16px;
  }
  .overlay-change-form .wrap .elements .prices-change .save-change {
    font-size: 23px;
    padding: 10px;
    margin-left: 170px;
    margin-bottom: 10px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .overlay-change-form .wrap .elements .prices-change .save-change:hover {
    cursor: pointer;
    background-color: #FF4500;
    color: #FFFFFF;
  }
  .overlay-change-form .wrap .elements input {
    margin-bottom: 10px;
  }
  .overlay-change-form .wrap .elements .executor {
    width: 95px;
    margin-right: 7px;
    font-size: 16px;
  }
  .overlay-change-form .wrap .elements .last {
    margin-right: 0;
  }
  .overlay-change-form .wrap .elements .phone, .overlay-change-form .wrap .elements .password {
    width: 305px;
    font-size: 16px;
  }
  .overlay-change-form .wrap .elements .district, .overlay-change-form .wrap .elements .holidays {
    width: 150px;
    font-size: 16px;
  }
  .overlay-change-form .wrap .elements .time {
    margin-bottom: 20px;
  }
  .overlay-change-form .wrap .elements .time .start, .overlay-change-form .wrap .elements .time .end {
    width: 130px;
  }
  .overlay-change-form .wrap .elements .buttons {
    margin-bottom: 15px;
  }
  .overlay-change-form .wrap .elements .buttons .price-change {
    font-size: 23px;
    padding: 10px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .overlay-change-form .wrap .elements .buttons .price-change:hover {
    cursor: pointer;
    background-color: #FF4500;
    color: #FFFFFF;
  }
  .overlay-change-form .wrap .elements .buttons .submit {
    margin-left: 84px;
    font-size: 23px;
    padding: 10px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .overlay-change-form .wrap .elements .buttons .submit:hover {
    cursor: pointer;
    background-color: #FF4500;
    color: #FFFFFF;
  }
}

@media (max-width: 768px) {
  .container {
    width: 320px;
  }
  .container .header {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }
  .container .header .wrap .heading {
    text-align: center;
    font-size: 25px;
  }
  .container .bar {
    margin-bottom: 30px;
  }
  .container .bar .wrap .greeting {
    font-size: 16px;
    margin-top: 7px;
  }
  .container .bar .wrap .search {
    margin-top: 10px;
    margin-left: 0;
    font-size: 16px;
    padding: 5px;
  }
  .container .bar .wrap .add {
    margin-left: 0;
    font-size: 16px;
    padding: 5px;
  }
  .container .record {
    padding: 6px 0;
    margin-bottom: 6px;
  }
  .container .record .left .buttons-wrap {
    display: block;
  }
  .container .record .left .buttons-wrap .edit, .container .record .left .buttons-wrap .text, .container .record .left .buttons-wrap .delete {
    height: 10px;
    width: 10px;
  }
  .container .record .left p {
    font-size: 14px;
  }
  .container .record .left .wrap {
    margin-top: 5px;
  }
  .container .record .right p {
    margin-bottom: 3px;
    font-size: 14px;
  }
  .container .record .right .wrap p {
    margin-bottom: 0;
  }
  .overlay-desc {
    top: 25px;
    width: 240px;
  }
  .overlay-desc-close {
    top: -32px;
    right: -20px;
    font-size: 35px;
  }
  .overlay-desc-title {
    margin-bottom: 10px;
  }
  .overlay-desc-title-text {
    font-size: 20px;
  }
  .overlay-desc-form .wrap .elements textarea {
    font-size: 14px;
    margin-left: 40px;
    margin-bottom: 10px;
    width: 160px;
    height: 210px;
  }
  .overlay-desc-form .wrap .elements input {
    width: 150px;
    font-size: 14px;
    margin-left: 45px;
    margin-bottom: 10px;
  }
  .overlay-desc-form .wrap .elements .submit {
    margin-left: 58px;
    margin-bottom: 10px;
    font-size: 23px;
    padding: 5px;
  }
  .overlay-delete {
    top: 25px;
    width: 240px;
  }
  .overlay-delete-close {
    top: -32px;
    right: -20px;
    font-size: 35px;
  }
  .overlay-delete-title {
    margin-bottom: 10px;
  }
  .overlay-delete-title-text {
    font-size: 20px;
  }
  .overlay-delete-form .wrap .elements input {
    width: 150px;
    font-size: 14px;
    margin-left: 45px;
    margin-bottom: 10px;
  }
  .overlay-delete-form .wrap .elements .submit {
    margin-left: 68px;
    margin-bottom: 10px;
    font-size: 23px;
    padding: 5px;
  }
  .overlay-add {
    top: 20px;
    width: 240px;
  }
  .overlay-add-close {
    top: -32px;
    right: -20px;
    font-size: 35px;
  }
  .overlay-add-title {
    margin-bottom: 10px;
  }
  .overlay-add-title-text {
    font-size: 20px;
  }
  .overlay-add-form .wrap .elements .prices-add {
    width: 240px;
  }
  .overlay-add-form .wrap .elements .prices-add .title {
    margin-bottom: 10px;
  }
  .overlay-add-form .wrap .elements .prices-add .title .text {
    font-size: 20px;
  }
  .overlay-add-form .wrap .elements .prices-add .left input {
    margin-bottom: 14px;
  }
  .overlay-add-form .wrap .elements .prices-add .left p {
    font-size: 14px;
  }
  .overlay-add-form .wrap .elements .prices-add .left label {
    font-size: 14px;
  }
  .overlay-add-form .wrap .elements .prices-add .right {
    margin-left: 8px;
  }
  .overlay-add-form .wrap .elements .prices-add .right input {
    margin-bottom: 5px;
    width: 42px;
    font-size: 14px;
  }
  .overlay-add-form .wrap .elements .prices-add .right p {
    font-size: 14px;
  }
  .overlay-add-form .wrap .elements .prices-add .save-add {
    font-size: 16px;
    padding: 5px;
    margin-left: 73px;
    margin-bottom: 10px;
  }
  .overlay-add-form .wrap .elements input {
    margin-bottom: 8px;
  }
  .overlay-add-form .wrap .elements select {
    margin-bottom: 8px;
  }
  .overlay-add-form .wrap .elements .executor {
    width: 44px;
    margin-right: 3px;
    font-size: 14px;
  }
  .overlay-add-form .wrap .elements .last {
    margin-right: 0;
  }
  .overlay-add-form .wrap .elements .phone, .overlay-add-form .wrap .elements .password, .overlay-add-form .wrap .elements .district, .overlay-add-form .wrap .elements .holidays {
    width: 150px;
    font-size: 14px;
  }
  .overlay-add-form .wrap .elements .left {
    margin-bottom: 5px;
  }
  .overlay-add-form .wrap .elements .time {
    margin-bottom: 5px;
  }
  .overlay-add-form .wrap .elements .time .start, .overlay-add-form .wrap .elements .time .end {
    width: 150px;
  }
  .overlay-add-form .wrap .elements .buttons {
    margin-bottom: 3px;
  }
  .overlay-add-form .wrap .elements .buttons .price-add {
    display: inline-block;
    font-size: 16px;
    padding: 5px;
  }
  .overlay-add-form .wrap .elements .buttons .submit {
    display: inline-block;
    margin-left: 7px;
    font-size: 16px;
    padding: 5px;
  }
  .overlay-search {
    top: 20px;
    width: 240px;
  }
  .overlay-search-close {
    top: -32px;
    right: -20px;
    font-size: 35px;
  }
  .overlay-search-close:hover {
    cursor: pointer;
  }
  .overlay-search-title {
    margin-bottom: 15px;
  }
  .overlay-search-title-text {
    font-size: 20px;
  }
  .overlay-search-form .wrap .elements p {
    font-size: 14px;
  }
  .overlay-search-form .wrap .elements .district {
    font-size: 14px;
    width: 193px;
    margin-bottom: 10px;
  }
  .overlay-search-form .wrap .elements .submit {
    font-size: 16px;
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 64px;
  }
  .overlay-search-form .wrap .elements .action {
    margin-bottom: 5px;
    margin-left: 5px;
  }
  .overlay-search-form .wrap .elements .action label {
    font-size: 14px;
  }
  .overlay-change {
    top: 20px;
    width: 240px;
  }
  .overlay-change-close {
    top: -32px;
    right: -20px;
    font-size: 35px;
  }
  .overlay-change-title {
    margin-bottom: 10px;
  }
  .overlay-change-title-text {
    font-size: 20px;
  }
  .overlay-change-form .wrap .elements .prices-change {
    width: 240px;
  }
  .overlay-change-form .wrap .elements .prices-change .title {
    margin-bottom: 10px;
  }
  .overlay-change-form .wrap .elements .prices-change .title .text {
    font-size: 20px;
  }
  .overlay-change-form .wrap .elements .prices-change .left input {
    margin-bottom: 14px;
  }
  .overlay-change-form .wrap .elements .prices-change .left p {
    font-size: 14px;
  }
  .overlay-change-form .wrap .elements .prices-change .left label {
    font-size: 14px;
  }
  .overlay-change-form .wrap .elements .prices-change .right {
    margin-left: 8px;
  }
  .overlay-change-form .wrap .elements .prices-change .right input {
    margin-bottom: 5px;
    width: 42px;
    font-size: 14px;
  }
  .overlay-change-form .wrap .elements .prices-change .right p {
    font-size: 14px;
  }
  .overlay-change-form .wrap .elements .prices-change .save-change {
    font-size: 16px;
    padding: 5px;
    margin-left: 73px;
    margin-bottom: 10px;
  }
  .overlay-change-form .wrap .elements input {
    margin-bottom: 8px;
  }
  .overlay-change-form .wrap .elements select {
    margin-bottom: 8px;
  }
  .overlay-change-form .wrap .elements .executor {
    width: 44px;
    margin-right: 3px;
    font-size: 14px;
  }
  .overlay-change-form .wrap .elements .last {
    margin-right: 0;
  }
  .overlay-change-form .wrap .elements .phone, .overlay-change-form .wrap .elements .password, .overlay-change-form .wrap .elements .district, .overlay-change-form .wrap .elements .holidays {
    width: 150px;
    font-size: 14px;
  }
  .overlay-change-form .wrap .elements .left {
    margin-bottom: 5px;
  }
  .overlay-change-form .wrap .elements .time {
    margin-bottom: 5px;
  }
  .overlay-change-form .wrap .elements .time .start, .overlay-change-form .wrap .elements .time .end {
    width: 150px;
  }
  .overlay-change-form .wrap .elements .buttons {
    margin-bottom: 3px;
  }
  .overlay-change-form .wrap .elements .buttons .price-change {
    display: inline-block;
    font-size: 15px;
    padding: 5px;
  }
  .overlay-change-form .wrap .elements .buttons .submit {
    display: inline-block;
    margin-left: 6px;
    font-size: 15px;
    padding: 5px;
  }
}
/*# sourceMappingURL=style.css.map */